<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Registration demo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="../static/js/flask_webgui.js"></script>

</head>
<body style="text-align: center; padding: 30px 20px">
    <h1>Демо Регистрации</h1>

    <!-- Link to registration form -->
    <a href="/register" class="btn btn-primary" role="button">Регистрация</a>
    <a href="/data" class="btn btn-success" role="button">Данные</a>
</body>
</html>